@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor1:#fbbd01,
  --cor2:#8121ed,
  --cor3:#ffffff,
}

.slider::-webkit-scrollbar{
  width: 0;
  color: #8021ed44;
}

.infoFilmeP{
  border: 1.5px solid black;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
}
